aiohttp==3.7.4
async-timeout==3.0.0
attrs==18.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
idna==2.6
idna-ssl==1.1.0
jieba==0.39.1
multidict==4.3.1
pprint==0.1
requests==2.18.4
selenium==3.11.0
telepot==12.7
urllib3==1.22
websockets==3.4
yarl==1.2.6
